aws_region         = "us-east-1"
state_bucket_name  = "fintech1-demo1-tfstate-us-east-1"
bootstrap_state_key = "platform-iac-core/global/00-bootstrap-state/terraform.tfstate"

owner               = "platform-team"
environment         = "global"
app                 = "platform-core"
data_classification = "restricted"

# Optional: use this if pipeline/user assumes a deploy role.
# assume_role_arn = "arn:aws:iam::123456789012:role/platform-iac-core-bootstrap-apply"

kms_alias = "alias/platform/terraform-state"

kms_admin_principal_arns = [
  "arn:aws:iam::123456789012:role/platform-security-admin"
]

allowed_state_writer_principal_arns = [
  "arn:aws:iam::123456789012:role/gha-platform-iac-core-apply"
]

allowed_state_reader_principal_arns = [
  "arn:aws:iam::123456789012:role/gha-platform-iac-core-plan"
]

enable_object_lock = false

# Only set these when enable_object_lock = true
# object_lock_mode = "GOVERNANCE"
# object_lock_days = 7

noncurrent_version_transition_days = 30
noncurrent_version_expiration_days = 3650

extra_tags = {
  "cost-center" = "finops-001"
  "compliance"  = "regulated-finance"
}
